pytest==7.2.0
pytest-cov==4.0.0
pylint==2.15.6
black==22.10.0
fire==0.4.0
wikipedia==1.4.0
fastapi==0.70.0
uvicorn==0.15.0
praw==7.6.1
pandas==1.5.2
numpy==1.23.5
nltk==3.7
Jinja2==3.1.2
altair==4.2.0
altair_viewer